.view {
  background-color: #FFE000;
  min-height: 240px;
}

.draft {
  background-color: white;
  font-size: 15px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  min-height: 220px;
  margin: 10px;
}
