.view {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  & .selectors {
    top: 0;
    padding: 10px;
    position: absolute;
    align-items: center;

    & .icon {
      margin-right: 5px;
    }

    & .text {
      font-size: 15px;
    }
  }

  & .draft {
    padding: 10px;
    font-size: 15px;
    min-height: 250px;
    background: white;
  }

  & .viewport {
    width: 100%;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: #EEE;
  }

  & .desktop {
    width: 100%;
  }

  & .tablet {
    width: 768px;
  }

  & .mobile {
    width: 320px;
  }
}

