.table {
  margin: 5px 0;
  user-select: none;
  display: inline-block;
  -webkit-user-select: none;
  border: 1px solid #E9E9E9;
  position: relative;
  width: 100%;
  transition: all 0.1s ease;
}

.table th {
  position: relative;
}

.table:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.editing {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-left: 2px solid #2DB7F5 !important;
}

.table:hover .edit {
  visibility: visible;
}

.edit {
  position: absolute;
  top: -29px;
  right: 10px;
  transition: all 0.2s ease;
  visibility: hidden;
  border-radius: 4px 4px 0 0 !important;
}

.editor {
  margin-top: 30px;
}

:global .ant-table table {
  overflow: visible;
  border-radius: 0;
}

:global .ant-table {
  overflow: visible;
}

:global .ant-table-thead > tr > th {
  background: none;
}

:global .ant-table-tbody > tr > td {
  border-bottom: none;
  border-top: 1px solid #E9E9E9;
}

:global .clearfix::before {
  content: none;
}
