.table {
  margin: 5px 0;
  user-select: none;
  display: inline-block;
  -webkit-user-select: none;
  border: 1px solid #E9E9E9;
  position: relative;
  width: 100%;
  transition: all 0.1s ease;

  & th {
    position: relative;
  }
}

.table:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.editing {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-left: 2px solid #2DB7F5 !important;
}

.table:hover {
  & .edit {
    visibility: visible;
  }

  & .delete {
    visibility: visible;
  }
}

.edit {
  position: absolute;
  top: -29px;
  right: 10px;
  transition: all 0.2s ease;
  visibility: hidden;
  border-radius: 4px 4px 0 0 !important;
}

.delete {
  position: absolute;
  top: -29px;
  right: 45px;
  transition: all 0.2s ease;
  visibility: hidden;
  border-radius: 4px 4px 0 0 !important;
}

.editor {
  margin-top: 30px;
}

:global .clearfix::before {
  content: none;
}

:global .ant-table {
  overflow: visible;

  & table {
    overflow: visible;
    border-radius: 0;
  }

  & .ant-table-thead > tr > th {
    background: none;
  }
}

:global .table-head__normal {
  & .ant-table-thead > tr > th {
    font-weight: normal;
  }
}

:global .ant-btn-danger {
  color: #FFF;
  background-color: #EC6D6D;
  border-color: #EC6D6D;

  &:hover {
    color: #FFF;
    background-color: #F77D7D;
    border-color: #F77D7D;
  }
}

:global .table__compact {
  padding: 0 10px;

  & .ant-table-thead > tr > th {
    border-bottom: 1px solid #E9E9E9;
  }

  & .ant-table-tbody > tr:last-child > td {
    border-bottom: none;
  }
}

:global .table__small {
  & tr:nth-child(even) {
    background: #F7F7F7;
  }

  & .ant-table-thead > tr > th {
    background: #F7F7F7;
  }

  & .ant-table-tbody > tr > td {
    border-bottom: none;
  }
}
