.table {
  user-select: none;
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  width: 100%;
  margin: 5px 0;
  transition: all 0.1s ease;
  border: 1px solid #E9E9E9;

  & th {
    position: relative;
  }

  & .actions {
    position: absolute;
    top: -29px;
    right: 10px;

    & .icon {
      visibility: hidden;
      margin-left: 5px;
      transition: all 0.2s ease;
      border-radius: 4px 4px 0 0 !important;
    }

    & :global(.dragger__handle) {
      cursor: -webkit-grab;
    }
  }

  & .editing {
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-left: 2px solid #2DB7F5 !important;
  }

  & .editor {
    margin-top: 30px;
  }
}

.table.normal {
  & thead > tr > th {
    font-weight: normal;
  }
}

.table.compact {
  padding: 0 10px;

  & thead > tr > th {
    border-bottom: 1px solid #E9E9E9;
  }

  & tbody > tr:last-child > td {
    border-bottom: none;
  }
}

.table.small {
  & tr:nth-child(even) {
    background: #F7F7F7;
  }

  & thead > tr > th {
    background: #F7F7F7;
  }

  & tbody > tr > td {
    border-bottom: none;
  }
}

.table:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

  & .icon {
    visibility: visible;
  }
}

:global .clearfix::before {
  content: none;
}

:global .ant-table {
  overflow: visible;

  & table {
    overflow: visible;
    border-radius: 0;
  }

  & .ant-table-thead > tr > th {
    background: none;
  }
}

:global .ant-btn-danger {
  color: #FFF;
  border-color: #EC6D6D;
  background-color: #EC6D6D;

  &:hover {
    color: #FFF;
    border-color: #F77D7D;
    background-color: #F77D7D;
  }
}
