.option {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 0 4px;
  border: 1px solid #EEE;
  padding: 2px 4px;
  display: inline-block;
}

.popupOption {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 0 4px;
  padding: 2px 4px;
  display: inline-block;
}

.option:hover {
  border: 1px solid #DDD;
}

.active {
  background: #DDD;
  border: 1px solid #DDD;
}

.popupActive {
  color: #2DB7F5;
}

.disabled {
  opacity: 0.3;
  cursor: default;
}

.disabled:hover {
  border: 1px solid #EEE;
}
