.preview.fullscreen {
  width: 100%;
  max-width: none;
}

.preview {
  max-width: 500px;
  min-width: 250px;
  font-size: 13px;

  & .image {
    width: 100%;
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 15px;
    padding-bottom: 20px;
  }

  & .title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  & .text {
    font-size: 13px;
    text-align: justify;
  }

  & .icons {
    top: -25px;
    right: 5px;
    display: flex;
    position: relative;
    margin-bottom: -15px;
    flex-direction: row-reverse;

    & .resize {
      width: 15px;
      cursor: pointer;
      background: white;
    }
  }
}

