{
  "presets": [
    [
      "latest",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "env": {
    "production": {
      "only": [
        "app"
      ],
      "plugins": [
        "transform-react-remove-prop-types"
        // "transform-react-constant-elements" // https://github.com/babel/babel/issues/4458
        // "transform-react-inline-elements" // https://github.com/ant-design/babel-plugin-import/issues/64
      ]
    }
  },
  "plugins": [
    [
      "import", {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    [
      "extensible-destructuring",
      {
        "mode": "optout",
        "impl": "immutable"
      }
    ]
  ]
}