.container {
  margin: 5px 0;
  user-select: none;
  display: inline-block;
  -webkit-user-select: none;
}

.unselected {
  margin: 0;
  padding: 0 5px;
}

.selected {
  composes: unselected;
  background-color: #0F0;
}

.value {
  margin-left: 7.5px;
  margin-right: 5px;
}

.checkbox {
  height: 14px;
}
