.checkbox {
  margin: 5px 0;
  user-select: none;
  display: inline-block;
  -webkit-user-select: none;
}

:global .ant-checkbox-wrapper {
  display: block !important;
  height: 30px;
  line-height: 30px;
  margin-left: 0 !important;
}
