.tooltip {
  position: absolute;
  z-index: 1060;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.5;
  top: -40px;
  left: 0;
}

.tooltipInner {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  color: #FFF;
  text-align: left;
  text-decoration: none;
  background-color: rgba(64, 64, 64, 0.85);
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  min-height: 34px;
}

.arrow {
  left: 10%;
  margin-left: -5px;
  bottom: -5px;
  border-width: 5px 5px 0;
  border-color: transparent;
  border-top-color: rgba(64, 64, 64, 0.85);
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.confirmBtn {
  cursor: pointer;
}

.cancelBtn {
  cursor: pointer;
}

.error {
  color: #F50;
}

