.preview {
  padding: 15px;

  & .question {
    margin: 0 0 10px;
    font-size: 15px;
    font-weight: 500;
  }

  & .options {
    display: flex;
    flex-direction: column;

    & .option {
      display: flex;
      padding: 5px 0;
      align-items: flex-start;
      flex-direction: column;

      & .image {
        margin: 10px 0;
      }

      & .answer {
        display: flex;
        flex-direction: row;

        & .checkbox {
          display: flex;
        }

        & .text {
          font-size: 13px;
          margin-left: 10px;
        }
      }
    }
  }

  & .attempts {
    padding-top: 15px;
    text-align: left;
  }
}

:global .ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0 !important;
}
