.editor {
  width: 500px;
  z-index: 9999;
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: #EEE;
}

.editor i {
  color: #888 !important;
}

.steps {
  /* ... */
}

.step {
  padding: 5px 0;
  display: flex;
  user-select: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.drag {
  margin-right: 5px;
  cursor: grab;
}

.title {
  display: flex;
  padding-right: 30px;
  justify-content: space-between;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
}

.color {
  width: 50px;
}

.blue {
  composes: circle;
  border: 2px solid #2DB7F5;
}

.green {
  composes: circle;
  border: 2px solid #87D068;
}

.red {
  composes: circle;
  border: 2px solid #F50;
}

.text {
  /* ... */
  width: 380px;
}

.image {
  /* ... */
}
