.unit {
  display: flex;
  justify-content: space-between;
}

.title {
  /* ... */
}

.name {
  font-size: 13px;
}

.actions {
  display: none;
  color: black;
}

.unit:hover .actions {
  display: inline;
}

