.input {
  position: absolute;
  background-color: #404040;
  width: 90%;
  display: flex;
  justify-content: space-between;

  & input {
    flex-grow: 1;
  }
}

.icon {
  width: 15px;
  height: 15px;
}

.confirm {
  margin-left: 10px;
  cursor: pointer;
}
