.dropdown {
  /* ... */
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  pointer-events: none;
}

.icon {
  margin: 5px;
  pointer-events: all;
}

.menu {
  margin-left: -165px;
}
