.editor {
  background-color: #EEE;
  margin-top: -10px;
  min-height: 230px;
  padding: 10px;

  /* padding-top: 0; */
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.draft {
  background-color: #FFF;
  min-height: 210px;
  cursor: text;
  padding: 5px 10px;
  font-size: 15px;
  margin-top: 10px;
  position: relative;
}

/* .draft li {
  margin: 1px -5px;
} */

/* .draft h3 {
  border-bottom: 1px solid #EEE;
  margin-right: 10px;
  margin-top: 15px;
} */

.draft figure {
  margin: 0;
}

.input {
  width: 340px;
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  cursor: text;
  font-size: 12px;
  line-height: 1.5;
  color: #666;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  margin: 2px;
}

.icon {
  position: absolute;
  right: -40px;
  top: -1px;
}

.btnChild {
  width: 10px;
  height: 30px;
}
