.editor {
  background-color: #EEE;
  min-height: 230px;
  padding: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.draft {
  background-color: #FFF;
  min-height: 140px;
  cursor: text;
  font-size: 15px;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}
