.editor {
  background-color: #EEE;
  min-height: 230px;
  padding: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.draft {
  background-color: #FFF;
  min-height: 210px;
  cursor: text;
  padding: 5px 10px;
  font-size: 15px;
  margin-top: 10px;
}

.draft ul {
  margin: 10px;
  padding-left: 20px;
  list-style-type: disc;
}

.draft ol {
  margin: 10px;
  padding-left: 20px;
  list-style-type: disc;
}

/* .draft li {
  margin: 1px -5px;
} */

.draft h3 {
  border-bottom: 1px solid #EEE;
  margin-right: 10px;
  margin-top: 15px;
}

.draft figure {
  margin: 0;
}
