.validator {
  margin-bottom: 15px;

  & .message {
    color: red;
    font-size: 13px;
  }

  & :global(input.error) {
    border-color: red;
  }

  & :global(textarea.error) {
    border-color: red;
  }

  & :global(input.error):focus {
    box-shadow: 0 0 0 2px rgba(245, 45, 45, 0.2);
  }

  & :global(textarea.error):focus {
    box-shadow: 0 0 0 2px rgba(245, 45, 45, 0.2);
  }
}

