.header {
  display: flex;
  padding-right: 30px;
  justify-content: space-between;
}

.editor {
  & > .content {
    flex-direction: column;

    & .uploader {
      & .preview {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        & .image {
          margin: 20px;
          width: 103.5px;
          height: 103.5px;
          border-radius: 5px;
          object-fit: cover;
        }

        & .remove {
          color: white;
          cursor: pointer;
          padding: 2px;
          font-size: 18px;
          margin-top: 15px;
          margin-left: -35px;
          border-radius: 15px;
          background-color: red;
        }
      }

      & .upload {
        & .icon {
          color: #57C5F7;
          margin: -5px 0 50px 0;
          height: 60px;
          font-size: 80px;
          margin-top: -5px;
        }

        & .hint {
          font-size: 13px;
          margin: 20px 0;
        }
      }
    }

    & .title {
      padding: 10px 0;
    }

    & .text {
      padding: 0;
    }
  }

  & > .preview {
    flex-direction: column;
    padding-bottom: 10px;

    & .title {
      width: 100%;
      margin: 30px 0 35px;
      font-size: 13px;
      text-align: center;
      font-weight: bold;
      line-height: 0.1em;
      border-bottom: 1px solid #EEE;

      & .text {
        padding: 0 10px;
        background: #FFF;
      }
    }

    & .component {
      display: flex;
      justify-content: center;
    }
  }
}

:global .ant-form-item {
  margin-bottom: 5px;
}
