.sidebar {
  min-width: 350px;
  display: flex;
  flex-direction: column;
}

.name {
  padding: 10px;
  display: none;
}

.info {
  background-color: #EEE;
  padding-left: 10px;
  font-size: 12px;
  display: none;
}

.sidebar a {
  color: black;
}

.sidebar a:hover {
  color: black;
}
