.sidebar {
  width: 350px;
}

:global .ant-menu-item {
  background: #EEE !important;
}

:global .ant-menu-item-active {
  background: #EEE !important;
}

:global .ant-menu-item-selected {
  background: #E8E8E8 !important;
}

:global .ant-menu-submenu {
  background: #EEE !important;
}

:global .ant-menu-submenu-open {
  background: #EEE !important;
}

:global .ant-menu-submenu-active {
  background: #EEE !important;
}

:global .ant-menu-submenu-selected {
  background: #EEE !important;
}

:global .ant-menu-submenu-inline {
  background: #EEE !important;
}

:global .ant-menu-submenu-title:hover {
  background: #EEE !important;
}
