.main {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  margin: 5px 0;
  transition: all 0.1s ease;

  /* border: 1px solid #E9E9E9; */

  & .actions {
    position: absolute;
    top: -29px;
    right: 10px;

    & .icon {
      visibility: hidden;
      margin-left: 5px;
      transition: all 0.2s ease;
      border-radius: 4px 4px 0 0 !important;
    }
  }

  &.editing {
    border: none;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-left: 4px solid #108EE9 !important;
  }
}

.main:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

  .icon {
    visibility: visible;
  }
}

.confirms {
  padding: 16px;

  button {
    margin-right: 5px;
  }
}
