.editor {
  padding: 15px;
  border-top: 1px solid #E9E9E9;

  & .question {
    font-size: 15px;
    margin-top: 5px;
  }

  & .options {
    display: flex;
    flex-direction: column;

    & .option {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      & .drag {
        cursor: grab;
      }

      & .text {
        width: 80%;
      }

      & .image {
        & .preview {
          & img {
            width: 70px;
            height: 70px;
          }

          & .remove {
            top: -7px;
            right: -5px;
            color: #FFF;
            cursor: pointer;
            padding: 3px;
            position: absolute;
            font-size: 12px;
            border-radius: 50%;
            background-color: red;
          }
        }

        & .upload {
          width: 72px;
          height: 72px;
          border: 1px solid #D9D9D9;
          display: flex;
          align-items: center;
          border-radius: 5px;
          justify-content: center;
          background-color: #F7F7F7;

          & .dropzone {
            /* ... */
          }

          & .icon {
            /* ... */
          }
        }
      }

      & .checkbox {
        /* ... */
      }

      & .remove {
        color: red;
        cursor: pointer;
      }
    }
  }
}

:global .ant-form-item {
  margin-bottom: 0;
}

:global .ant-form-item-control {
  line-height: 0;
  margin-bottom: 16px;
}

:global .ant-form-item-control::before {
  content: none;
}

:global .ant-row::before {
  content: none;
}

:global .ant-tabs-tabpane {
  height: auto !important;
}
