.editor {
  padding: 15px;
  border-top: 1px solid #CCC;
  padding-top: 0;

  & .title {
    width: 103%;
    padding: 5px 15px;
    font-size: 13px;
    font-weight: 500;
    margin-left: -15px;
    border-bottom: 1px solid #CCC;
    background-color: rgba(230, 230, 230, 0.5);
  }

  & .tabs {
    margin-top: -15px;

    & .question {
      font-size: 13px;
      margin-top: 5px;
    }

    & .collapse {
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 25px;

      & .options {
        & .option li {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          & .drag {
            cursor: grab;
          }

          & .text {
            width: 90%;
          }

          & .image {
            & .preview {
              & img {
                width: 70px;
                height: 70px;
              }

              & .remove {
                top: -7px;
                right: -5px;
                color: #FFF;
                cursor: pointer;
                padding: 3px;
                position: absolute;
                font-size: 12px;
                border-radius: 50%;
                background-color: red;
              }
            }

            & .upload {
              width: 28px;
              height: 28px;
              border: 1px solid #D9D9D9;
              display: flex;
              align-items: center;
              border-radius: 5px;
              justify-content: center;
              background-color: #F7F7F7;

              & .dropzone {
                /* ... */
              }

              & .icon {
                /* ... */
              }
            }
          }

          & .checkbox {
            transform: scale(2);
          }

          & .remove {
            color: red;
            cursor: pointer;
          }
        }
      }
    }
  }

  & .actions {
    & .save {
      /* ... */
    }

    & .cancel {
      margin-left: 15px;
    }
  }
}

body > li { /* Для D&D */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

:global .ant-form-item {
  margin-bottom: 0;
}

:global .ant-form-item-control {
  line-height: 0;
  margin-bottom: 16px;
}

:global .ant-form-item-control::before {
  content: none;
}

:global .ant-row::before {
  content: none;
}

:global .ant-tabs-tabpane {
  height: auto !important;
}
