.draft {
  background-color: #EEE;
  min-height: 240px;
  font-size: 14px;
  padding: 10px;
}

.text {
  width: 680px;
  padding: 10px;
  min-height: 185px;
  background-color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
