.subsection {
  display: flex;
  justify-content: space-between;
}

.title {
  /* ... */
}

.name {
  font-size: 14px;
}

.actions {
  display: none;
  color: black;
  margin-right: 20px;
}

.subsection:hover .actions {
  display: inline;
}
