.content {
  display: flex;
  width: calc(100% - 370px);
  margin: 0 20px;
  flex-direction: column;
}

.title {
  display: flex;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px 4px 0 0;
  flex-direction: row;
  background: #ECECEC;
  justify-content: space-between;
  align-items: center;
}

.selectors {
  padding-left: 0;
  padding-right: 20px;
}

.selectors a {
  border: 1px solid;
  border-color: #D9D9D9;
  border-radius: 4px;
  display: inline-block;
  padding: 4px 15px;
  color: #666;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.active {
  color: #FFF !important;
  background-color: #57C5F7;
  border-color: #57C5F7 !important;
}

.selectors a:first-child {
  margin-right: 10px;
}

.selectors a:hover {
  color: #57C5F7;
  border-color: #57C5F7;
}
