.content {
  display: flex;
  width: calc(100% - 370px);
  margin: 0 20px;
  flex-direction: column;
}

.title {
  display: flex;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  flex-direction: row;
  background-color: #EEE;
  justify-content: space-between;
}

.selectors {
  margin: -10px;
  padding: 10px;
  padding-left: 0;
  min-width: 195px;
  padding-right: 20px;
  background-color: #FFE000;
}

.selectors a {
  color: black;
}

.selectors a:hover {
  color: black;
}

.selector {
  font-size: 14px;
  padding-left: 20px;
}
