.preview.fullscreen {
  width: 1000px !important;
  height: 715px !important;

  & img {
    width: 1000px !important;
    height: 750px !important;
  }

  & .resize {
    margin-bottom: 35px;
  }
}

.preview {
  width: 350px;

  & .text {
    width: 350px;
    height: 250px;
    display: flex;
    padding: 0 10px;
    font-size: 15px;
    text-align: center;
    align-items: center;
    white-space: pre-wrap;
    justify-content: center;
    background-color: #EEE;
  }

  & img {
    width: 350px;
    height: 250px;
  }

  & .empty {
    color: #DDD;
    width: 350px;
    height: 250px;
    border: 1px solid #EEE;
    display: flex;
    padding: 0 10px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    white-space: pre-wrap;
    justify-content: center;
    background-color: white;
  }

  & .resize {
    width: 15px;
    cursor: pointer;
    display: flex;
    position: relative;
    background: white;
    margin-top: -25px;
    margin-left: 10px;
    margin-bottom: 15px;
  }
}
