.preview {
  & .text {
    display: flex;
    padding: 0 10px;
    font-size: 15px;
    text-align: center;
    align-items: center;
    white-space: pre-wrap;
    justify-content: center;
    background-color: #EEE;
  }

  & img {
    object-fit: contain;
  }

  & .empty {
    color: #DDD;
    border: 1px solid #EEE;
    display: flex;
    padding: 0 10px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    white-space: pre-wrap;
    justify-content: center;
    background-color: white;
  }

  & .resize {
    width: 15px;
    cursor: pointer;
    display: flex;
    position: relative;
    background: white;
    margin-top: -25px;
    margin-left: 10px;
    margin-bottom: 15px;
  }
}
